/*#faebd7, rgb(70, 70, 70) - background hlavicka & paticka*/


/*#b38b6d, rgb(77, 177, 178); - h1, h2*/

body {
    line-height: 1.5;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

h1 {
    margin-bottom: 0;
}

h1,
h2 {
    color: rgb(77, 177, 178);
}

.hlavicka {
    background-color: rgb(70, 70, 70);
    padding: 30px 33% 0 33%;
    margin-left: auto;
    overflow: auto;
}

.hlavicka p {
    font-size: 14px;
    color: rgb(77, 177, 178);
    text-transform: uppercase;
}

.moje-foto {
    width: 150px;
    border-radius: 15px;
    float: left;
    margin: 0 30px 30px 0;
}

.social-media,
.kontakt,
.vzdelanie,
.skusenosti,
.zrucnosti {
    text-align: left;
    margin: auto;
    padding: 0 33%;
}

.social-media {
    text-align: center;
    /*margin: auto;*/
    /*padding: 0 33%;*/
    margin-top: 15px;
}

.social-media a {
    color: rgb(77, 177, 178);
    font-size: 22px;
    padding: 0 5px;
    text-align: center;
}

.kontakt {
    text-align: center;
}

.kontakt a {
    color: rgb(70, 70, 70);
}

.kontakt a:hover {
    color: rgb(77, 177, 178);
}

.vzdelanie h2,
.skusenosti h2 {
    border-bottom: 2px solid rgb(77, 177, 178);
}

.vzdelanie p,
.skusenosti p {
    font-family: 'Lora', serif;
}

.skusenosti ul li,
.vzdelanie ul li {
    list-style-type: '- ';
}

.zrucnosti h2 {
    border-bottom: 2px solid rgb(77, 177, 178);
}

.zaluby {
    border-top: 2px solid rgb(77, 177, 178);
    padding-top: 10px;
}

.zrucnosti-technicke-osobne {
    display: flex;
}

.zrucnosti .technicke p,
.zrucnosti .osobne p,
.zrucnosti .jazyky span,
.zrucnosti .zaluby span,
.zrucnosti .projekty span {
    font-family: 'Lora', serif;
}

.zrucnosti .projekty a {
    color: rgb(70, 70, 70);
}

.zrucnosti .projekty a:hover {
    color: rgb(77, 177, 178);
}

.paticka {
    background-color: rgb(70, 70, 70);
    color: rgb(77, 177, 178);
    text-align: center;
    padding: 10px 0;
}